# Virtual environment
venv/

# Model files
models/
*.tflite
*.task

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
/node_modules/
node_modules/